/* Custom UI Styles */
.cui-logo {
    width: 200px;
    height: auto;
    margin: 14px 0 24px 0;
}

.cui-background {
    background: #003268;
    border-bottom: 1px solid #fff;
    color: #fff;
    overflow: hidden;
}

.cui-jumbotron-left {
    padding-top: 36px;
}

.cui-jumbotron-right {
    padding-top: 36px;
    padding-bottom: 54px;
}

.cui-jumbotron-header {
    margin: 0 0 0.5em 0;
    font-size: 54px;
    letter-spacing: 0.015em;
}

.cui-long-shadow {
    text-shadow:
        -1px 1px 0 #003268,
        -2px 2px 0 #003268,
        -3px 3px 0 #26517f,
        -4px 4px 0 #26517f,
        -5px 5px 0 #26517f,
        -6px 6px 0 #26517f,
        -7px 7px 0 #26517f,
        -8px 8px 0 #26517f,
        -9px 9px 0 #26517f,
        -10px 10px 0 #26517f,
        -11px 11px 0 #26517f,
        -12px 12px 0 #26517f,
        -13px 13px 0 #26517f,
        -14px 14px 0 #26517f,
        -15px 15px 0 #26517f,
        -16px 16px 0 #26517f,
        -17px 17px 0 #26517f,
        -18px 18px 0 #26517f,
        -19px 19px 0 #26517f,
        -20px 20px 0 #26517f,
        -21px 21px 0 #26517f,
        -22px 22px 0 #26517f,
        -23px 23px 0 #26517f,
        -24px 24px 0 #26517f,
        -25px 25px 0 #26517f,
        -26px 26px 0 #26517f,
        -27px 27px 0 #26517f,
        -28px 28px 0 #26517f,
        -29px 29px 0 #26517f,
        -30px 30px 0 #26517f,
        -31px 31px 0 #26517f,
        -32px 32px 0 #26517f,
        -33px 33px 0 #26517f,
        -34px 34px 0 #26517f,
        -35px 35px 0 #26517f,
        -36px 36px 0 #26517f,
        -37px 37px 0 #26517f,
        -38px 38px 0 #26517f,
        -39px 39px 0 #26517f,
        -40px 40px 0 #26517f,
        -41px 41px 0 #26517f,
        -42px 42px 0 #26517f,
        -43px 43px 0 #26517f,
        -44px 44px 0 #26517f,
        -45px 45px 0 #26517f,
        -46px 46px 0 #26517f,
        -47px 47px 0 #26517f,
        -48px 48px 0 #26517f,
        -49px 49px 0 #26517f,
        -50px 50px 0 #26517f,
        -51px 51px 0 #26517f,
        -52px 52px 0 #26517f,
        -53px 53px 0 #26517f,
        -54px 54px 0 #26517f,
        -55px 55px 0 #26517f,
        -56px 56px 0 #26517f,
        -57px 57px 0 #26517f,
        -58px 58px 0 #26517f,
        -59px 59px 0 #26517f,
        -60px 60px 0 #26517f,
        -61px 61px 0 #26517f,
        -62px 62px 0 #26517f,
        -63px 63px 0 #26517f,
        -64px 64px 0 #26517f,
        -65px 65px 0 #26517f,
        -66px 66px 0 #26517f,
        -67px 67px 0 #26517f,
        -68px 68px 0 #26517f,
        -69px 69px 0 #26517f,
        -70px 70px 0 #26517f,
        -71px 71px 0 #26517f,
        -72px 72px 0 #26517f,
        -73px 73px 0 #26517f,
        -74px 74px 0 #26517f,
        -75px 75px 0 #26517f,
        -76px 76px 0 #26517f,
        -77px 77px 0 #26517f,
        -78px 78px 0 #26517f,
        -79px 79px 0 #26517f,
        -80px 80px 0 #26517f,
        -81px 81px 0 #26517f,
        -82px 82px 0 #26517f,
        -83px 83px 0 #26517f,
        -84px 84px 0 #26517f,
        -85px 85px 0 #26517f,
        -86px 86px 0 #26517f,
        -87px 87px 0 #26517f,
        -88px 88px 0 #26517f,
        -89px 89px 0 #26517f,
        -90px 90px 0 #26517f,
        -91px 91px 0 #26517f,
        -92px 92px 0 #26517f,
        -93px 93px 0 #26517f,
        -94px 94px 0 #26517f,
        -95px 95px 0 #26517f,
        -96px 96px 0 #26517f,
        -97px 97px 0 #26517f,
        -98px 98px 0 #26517f,
        -99px 99px 0 #26517f,
        -100px 100px 0 #26517f;
    position: relative;
}

.cui-long-shadow:before {
    content: " ";
    background: #26517f;
    width: calc(100% + 38px);
    height: 500px;
    -webkit-transform: skew(135deg);
    transform: skew(135deg);
    -webkit-transform-origin: top right;
    transform-origin: top right;
    position: absolute;
    top: 100%;
    left: -59px;
}

.cui-form-group {
    margin-bottom: 18px;
}

.cui-input {
    height: 54px;
    border: 4px solid #A4D4D1;
    border-radius: 0;
}

.cui-input:active,
.cui-input:focus {
    border-color: #48A4AE;
}

.cui-button {
    background: #c9302c;
    height: 54px;
    border: 4px solid #ac2925;
    border-radius: 0;
    text-transform: uppercase;
    font-family: 'Enriqueta';
    letter-spacing: 0.05em;
    text-shadow:
        -1px 1px 0 #ac2925,
        -2px 2px 0 #ac2925;
}

.cui-button:hover {
    background: #ac2925;
    border-color: #ac2925;
}

.loading-img + .cui-button {
    color: transparent;
    text-shadow: none;
}

.loading-img.hidden + .cui-button {
    color: #fff;
    text-shadow:
        -1px 1px 0 #ac2925,
        -2px 2px 0 #ac2925;
}

.cui-text-rule {
    margin: 0 0 16px 0;
    font-family: 'Enriqueta';
    letter-spacing: 0.1em;
    font-style: italic;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.cui-text-rule:before,
.cui-text-rule:after {
    content: " ";
    background: #fff;
    height: 1px;
    margin: 0 15px 0 0;
    display: block;
    -webkit-box-flex: 2;
    flex-grow: 2;
    z-index: 2;
}

.cui-text-rule:after {
    margin: 0 0 0 15px;
}

.cui-panels h3 {
    margin: 36px 0;
}

.cui-panels .panel {
    background: #f5f5f5;
    margin: 0 0 36px 0;
    border: 4px solid #ddd;
    box-shadow: none;
    border-radius: 0;
}

.cui-panels .legislator-name {
    font-family: 'Enriqueta';
}

.cui-panels .thumbnail {
    border-radius: 0;
}

@media (min-width: 768px) {

    .cui-logo {
        width: 250px;
    }

    .cui-jumbotron-left {
        padding-top: 54px;
    }

    .cui-jumbotron-right {
        padding-top: 54px;
        padding-bottom: 72px;
    }

    .cui-jumbotron-header {
        font-size: 72px;
    }

    .cui-long-shadow:before {
        left: -67px;
    }
}

@media (min-width: 992px) {

    .cui-row-flex {
        display: -webkit-box;
        display: flex;
        -webkit-box-align: stretch;
        align-items: stretch;
    }

    .cui-jumbotron-left {
        border: none;
        padding-right: 36px;
        padding-bottom: 54px;
    }

    .cui-jumbotron-right {
        padding-top: 72px;
        padding-left: 36px;
    }

    .cui-panels:nth-child(1) {
        padding-right: 36px;
    }

    .cui-panels:nth-child(2) {
        padding-left: 36px;
    }

    .cui-panels .panel {
        margin: 0 0 54px 0;
    }
}